:root {
    --bg-color: #333;
    --color: #ddd;
    --muted: #444;
  }
  
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
      helvetica neue, Arial, noto sans, sans-serif, apple color emoji,
      segoe ui emoji, segoe ui symbol, noto color emoji;
    background-color: var(--bg-color);
    color: var(--color);
  }
  
  .page {
    margin: 0 auto;
  }
  
  input, textarea {
    background-color: transparent;
  }

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: var(--bg-color);
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: var(--muted);
}